/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #008fcc;
  --ifm-color-primary-dark: #0081b8;
  --ifm-color-primary-darker: #007aad;
  --ifm-color-primary-darkest: #00648f;
  --ifm-color-primary-light: #009de0;
  --ifm-color-primary-lighter: #00a4eb;
  --ifm-color-primary-lightest: #0ab6ff;
}


/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #1dbbff;
  --ifm-color-primary-dark: #01b2ff;
  --ifm-color-primary-darker: #00a9f1;
  --ifm-color-primary-darkest: #008bc7;
  --ifm-color-primary-light: #39c4ff;
  --ifm-color-primary-lighter: #48c8ff;
  --ifm-color-primary-lightest: #72d5ff;
}
